/* MEDIA QUERY FOR MOBILE STARTS */
/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) 
{

    *{
        max-width: 812px;
    }

body{
    max-width: 812px;
    background-image: url(/mVo0Za.jpg);
}







.left {
    display: inline-block;
    position: absolute;
    left: 5%;
    top: 3%;
    
}

.left div {
    line-height: 10%;
    font-size: 175%;
    text-align: center;


}

.left img {
    padding: 0%;
    padding-left: 3.5%;
    margin-left: -7%;
    height: 7rem;
    width: 100px;
    height: 80px;
    margin-top: -3%;
}

.left img:hover {
    border-radius: 10%;
    /* border: 2px solid white; */
}

.logoname {
    padding-left: 6.8rem;
    /* padding-right: 16rem; */
    
    /* margin-left: 5%; */
    margin-top: -23%; 
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: cursive;
    font-weight: bolder;
    color: blanchedalmond;
}

.logoname:hover {
    color: darkkhaki;

}

.mid {
    display: block;

    margin: 22% auto;
    margin-left: 1%;
    /* padding: auto; */
    width: 100%;
    margin-bottom: 1%;


}

.right {
    position: absolute;
    right: 1%;
    top: 7%;
    display: inline-block;
    margin: 0.7% auto;
    /* color:black; */

}

.navbar {
    display: inline-block;
    background-color: grey;
    border-radius: 10px;

}

.navbar li {
    display: inline-block;
    font-size: 100%;
    margin-top: 1%;
    padding: .8rem;
    /* margin-left: 2%; */
    /* margin-bottom: 2%; */
}

.navbar li a {
    color: white;
    text-decoration: none;
    /* padding: 2% 143.75%; */
    /* padding-left: 2%; */
    /* margin: 2222% 22%; */
}

.navbar li a:hover,
.navbar li a:active {
    text-decoration: underline;
    color: black;
}

.button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0% 0%;
    background-color: grey;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
/* height: 33px; */
}

.button:hover {
    background-color: grey;
    color: black;
    text-decoration: none;
}
































.two {
        /* height: 1100px;
        width: 812px; */
        /* size: 812px 375px; */
        background-image: url(/resized\ iphone.jpg);
        /* filter: blur(2px); */
        /* background-size: 1440px 1000px; */
        background-repeat: no-repeat;
        background-size: cover;

    }

    .zzz h1 {
        font-weight: bolder;
        font-family: cursive;
        color: green;

    }


    #intro {
        height: fit-content;
        width: fit-content;
        /* filter:contrast(100000%); */
        /* filter: blur(100%); */

    }

    .a {
        color: rgb(253, 253, 253);
        /* filter: blur(8px); */
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 50px;
        font-style: italic;
        font-stretch: wider;
        padding-top: 530px;
        padding-left: 40px;
    }

    .b {
        color: rgb(225, 248, 19);
        padding-left: 100px;
        padding-top: 50px;

        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 50px;
        font-style: italic;
        font-stretch: wider;
    }

    .c {
        color: silver;
        padding-left: 163px;
        padding-top: 50px;

        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 50px;
        font-style: italic;
        font-weight: bolder;
        font-stretch: wider;

    }


    .a:hover {
        color: khaki;
    }

    .b:hover {
        color: yellow;
    }

    .c:hover {
        color: yellowgreen;
    }




/* ABOUT STARTS */


#about {
        background-color: white;
        height: 1570px;
    }

    .about {
      width: 1161px;
        position: relative;
        padding-top: 186px;
        padding-left: 40px;
        font-size: larger;
        font-weight: bolder;
        font-stretch: expanded;
        font-style: italic;
        font-size: 2rem;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .aboutpara {
        position: relative;
        width: 370px;
        height: 150px;
        padding-left: 80px;
        padding-top: 33px;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        /* font-stretch: wider; */
    }

    .aboutimg {
        width: 500px;
font-weight: bolder;
        padding-left: 150px;
        padding-top: -0px;
        padding-right: 210px;
        padding-top: -10px;
        margin-top: -150px;
        float: right;
    }

    .achivements {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        color: peru;

    }
    .achivementboxOne{
      height: 190px;
    }
    .achivementboxTwo{
      height: 190px;
    }
    .achivementboxThree{
      height: 192px;
    }


    .achivements:hover {
        color: burlywood;
        font-weight: bolder;
        font-stretch: wider;
        font-size: 40px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .achivementbox {
        float: left;
        margin-left: 110px;
        margin-right: 100px;
        margin-top: 100px;
        margin-bottom: 80px;
        border: 4px solid goldenrod;
        border-radius: 6px;
        width: 200px;
        height: 200px;
        /* border: 4px solid green; */
        transition:1s;
        transform: translate(-10%, -10%);
    }

    .achivementbox:hover {
        width: 220px;
        height: 220px;
    }

    .achivementimg:hover {
        width: 220px;
        height: 220px;
    }


/* ABOUT ENDS  */

/* SOCIAL MEDIA STARTS  */

.socialmedia {
    display: none;
        margin-top: 380px;
        margin-left: 150px;
        border-radius: 10px;
        padding-top: 300px;
        /* height: 100px; */
        width: 250px;
        height: 1000px;
        background-color: black;
        background-image: url(/IMG_0028_Original_auto_x2\ copy.jpg);
        
    }
    .insta{
        margin-top: 670px;
    }
    .facebook{
        height: 1071px;
        margin-top: 670px;
        margin-bottom: 200px;
        /* margin-top: 720px; */
    }

    /* .instakoimg{
        /* margin-left: 23px; */
        /* margin-left: 25px; 
        width:90px;
        height:89px;
        border-radius:5px; */

        /* margin-top: 25px;
        margin-left: 25px;
        border-radius: 40px;
        padding-top: 300px;
        max-width: 200px;
        height: 100px; */

        
    /* .socialmedia:hover {
        width: 580px;
        height: 580px;
        border: 4px solid silver;
        border-radius: 4px;
    } */

    #socialmediabg {
        background-image: url(/mVo0Za.jpg);
        height: 850px;

    }
    #aaa img{
/* margin-top: 1100px; */
 /* height: 300px;
width: 250px;
margin-top: 100px;  */
display: inline , none;
/* display:none; */
/* visibility: hidden; */
    }


    .heading1 {
        float: left;
        margin-top: -345px;
        margin-left: 140px;
        font-size: 60px;


    }

    .para1 {
        float: left;
        margin-right: 540px;
        margin-left:140px;
        margin-top: -260px;
        font-size: 36px;
        color: silver(16, 223, 33);
    }

    .heading2 {
        float: left;
        margin-left: 140px;
        margin-top: -208px;
        margin-right: 301px;
        font-size: 60px;

    }

    .para2 {
        float: left;
        margin-top: -129px;
        margin-right: 540;
        margin-left: 140px;

        /* margin-top: -300px; */
        /* margin-right: 170px; */
        font-size: 36px;
        color: silver;
    }





    .heading3 {
        float: left;
        margin-top: -90px;
        margin-right: 900px;
        margin-left: 140px;
        font-size: 60px;
    }

    .para3 {
        float: left;
        margin-top: -25px;
        margin-right: 50px;
        margin-left: 140px;
        font-size: 36px;
        color: silver;
    }



    .heading4 {
        float: left;
        /* justify-content: center; */
        /* padding-left: -230px; */
        margin-top: -580px;
        /* margin-right: 340px; */
        font-size: 35px;
        /* float:inline-end; */
        width: 812px;
        margin-left: 2px;
        margin-top: -663px;
        /* margin-top: 10px; */

        color: sandybrown;
    }

    .para4 {
        float: left;
        width: 370px;
        margin-top: -590px;
        margin-left: 10px;
        font-size: 26px;
        /* width: 500px; */
        color: rgb(245, 148, 63);
    }

   


    .aboutbutton1 {
        /* float: right; */
        display: inline-block;
        justify-content: center;
        margin-top: -550px;
        margin-right: 151px;
        width: 65px;
        height: 65px;
    
        /* margin-top: -300px; */
        /* margin-right: 170px; */
        /* font-size: 36px; */
        color: silver;
    }
    
    .aboutbutton1insta {
        /* float: right; */
        display: inline-block;
        justify-content: center;
        margin-top: -240px;
        margin-left: 150px;
        width: 80px;
        height: 80px;
    
        /* margin-top: -300px; */
        /* margin-right: 170px; */
        /* font-size: 36px; */
        color: silver;
    }
    


.maininner{
    margin-top: -650px;
}
.innerinsta {
    float: right;
    margin-top: -81px;
    margin-right: 148px;
    font-family: cursive;
    /* margin-top: -300px; */
    /* margin-right: 170px; */
    font-size: 20px;
    color: silver;
}

.inner {
    float: right;
    margin-top: -480px;
    margin-right: 144px;
    font-family: cursive;
    /* margin-top: -300px; */
    /* margin-right: 170px; */
    font-size: 20px;
    color: silver;
}

.inner1 {
    float: right;
    margin-top: -280px;
    margin-right: 284px;
    font-family: cursive;
    /* margin-top: -300px; */
    /* margin-right: 170px; */
    font-size: 20px;
    color: rgb(27, 26, 26);
}

.inner,
.inner1 {
    transition: 0.3s;
}

.inner1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}




    /* .heading4:hover {
        color: rgb(248, 142, 48);
        font-size: 38px;
    } */
/* 
    .para4:hover {
        color: rgb(243, 157, 82);
        font-size: 29px;
    }

    .heading1:hover {
        color: silver;
        font-size: 66px;
    }

    .heading2:hover {
        color: silver;
        font-size: 66px;
    } */

    /* .heading3:hover {
        color: silver;
        font-size: 66px;
    }

    .para1:hover {
        color: black;
        font-size: 40px;
    } */
/* 
    .para2:hover {
        color: black;
        font-size: 40px;
    }

    .para3:hover {
        color: black;
        font-size: 40px;
    } */

}
/* SOCIAL MEDIA ENDS  */



