@media only screen and (max-width: 600px) {
    body{
        background-color:black;
    }
    @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      /* height: 855px; */
    }
    
    body {
      font-family: "Poppins", sans-serif;
    }
    

.introimagefordesktop{
  display: none;
}
#empty{
  display: none;
}















    .cta {
      display: inline-block;
      padding: 10px 3px;
      padding-top: 20px;
      padding-bottom: 20px;
      color: white;
      background-color: transparent;
      border: 2px solid crimson;
      font-size: 1.3rem;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 1rem;
      margin-left: 4%;
      margin-top: 18px;
      
     transition: 0.5s ease;
    }
    .cta:hover {
      color: white;
      background-color: crimson;
     
    }
























    .container {
      max-width: 1050px;
      width: 90%;
      margin: auto;
    }
    
    .navbar {
      width: 100%;
      box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    }
    
    .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 62px;
    }
    
    .navbar .menu-items {
      display: flex;
    }
    
    .navbar .nav-container li {
      list-style: none;
    }
    
    .navbar .nav-container a {
      text-decoration: none;
      color: #0e2431;
      font-weight: 500;
      font-size: 1.2rem;
      padding: 0.7rem;
    }
    
    .navbar .nav-container a:hover{
        font-weight: bolder;
    }
    
    .nav-container {
      display: block;
      position: relative;
      height: 60px;
    }
    
    .nav-container .checkbox {
      position: absolute;
      display: block;
      height: 32px;
      width: 32px;
      top: 20px;
      left: 20px;
      z-index: 5;
      opacity: 0;
      cursor: pointer;
    }
    
    .nav-container .hamburger-lines {
      display: block;
      height: 26px;
      width: 32px;
      position: absolute;
      top: 17px;
      left: 20px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    
    .nav-container .hamburger-lines .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: #0e2431;
    }
    
    .nav-container .hamburger-lines .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
    }
    
    .nav-container .hamburger-lines .line2 {
      transition: transform 0.2s ease-in-out;
    }
    
    .nav-container .hamburger-lines .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
    }
    
    .navbar .menu-items {
      padding-top: 0px;
      justify-content: center;
      box-shadow: inset 0 0 2000px rgba(7, 6, 6, 0.5);
      height: 100vh;
      width: 100%;
      transform: translate(-150%);
      display: flex;
      background-color: grey;
      flex-direction: column;
      margin-left: -19px;
      width: 390px;
      padding-left: 50px;
      transition: transform 0.5s ease-in-out;
      text-align: center;

    }
    
    .navbar .menu-items li {
        display: block;
      margin-bottom: 1.2rem;
      
      letter-spacing: .2rem;
      font-family: "Poppins", sans-serif;
      font-style: oblique;
      padding: 22px 0px;
      text-decoration: none;
      
      
    }
    .navbar .menu-items li a{
        color: white;
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: 500;
        padding-right: 50px;
    }
    
    .navbar .menu-items li a:hover{
        color: wheat;
    }
    .logo {
      position: absolute;
      top: 5px;
      right: 15px;
      font-size: 1.2rem;
      color: #0e2431;
    }
    
    .nav-container input[type="checkbox"]:checked ~ .menu-items {
      transform: translateX(0);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(45deg);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-45deg);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .logo{
      display: none;
    }

    .logo{
        padding-top: 8px;
    }

    #header{
        background-color: grey;
        font-family:"Poppins", sans-serif;
        position: fixed;
        width: -webkit-fill-available;
        display: block;
    }
    /* #intro h1{
      margin-top: -421px;
      padding-left: 120px;
	font-weight: 900;
  font-size: xx-large;
    } */
    #intro img{
      width: -webkit-fill-available;
      width:100%;
    }

    #intro {
      display: block;
      height: 844px;
    }

    /*  */
  
  .a {
      color: khaki;
      /* filter: blur(8px); */
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-style: italic;
      font-stretch: wider;

      margin-top: -486px;
      /* padding-left: 120px; */
      margin-left: 38px;
	font-weight: 900;
  font-size: xx-large;
  }
  
  .b {
      color: yellow; 
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-style: italic;
      font-stretch: wider;

      margin-top: -40px;
      padding-left: 200px;
	font-weight: 900;
  font-size: xx-large;
  }
  
  .c {
      color: yellowgreen;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-style: italic;
      font-stretch: wider;
      margin-top: -50px;
      padding-left: 245px;
	font-weight: 900;
  font-size: xx-large;
  }







    .a:hover {
      color: yellow;
  }
  
  .b:hover {
      color:yellowgreen;
  }
  
  .c:hover {
      color: khaki;
  }


  .profilecontents{
    height: 855px;
  }

  .profilebackground{
        /* width: max-content; */
    /* width: fit-content; */
    /* height: 100px; */
    margin-top: -79px;
    /* margin-bottom: -900px; */
    height: 792px;
  }

  .name h1{
    margin-top: -710px;
  }
  .name p{
    /* opacity: 10%; */
  }
  .name img{
    height: 792px;
  }


  .servicesbackground{
    /* margin-top: 0px; */
    margin-top: -421px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    position: static;
    display: block;
  }

  #achivements{
    background-image: linear-gradient(to right bottom, #d16ba5, #bc65aa, #a560ae, #895db1, #685ab1, #5469bf, #3976c9, #0083d0, #00a3e3, #00c1ee, #00dff1, #5ffbf1);
    display: block;
    height: 1013px;
  }

  .achivements-name{
    width: 241px;
    position: block;
    padding-top: 75px;
    padding-left: 20px;
    font-size:240px;
    font-size: larger;
    font-weight: bolder;
    font-stretch: expanded;
    font-style: italic;
    font-size: 2.7rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .achivements-name1{
    /* width: 189px; */
    position: block;
    padding-top: 8px;
    padding-left: 140px;
    font-weight: bolder;
    font-stretch: expanded;
    font-style: italic;
    font-size: 2.7rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .achivementshr{
    margin-left: 50px;
    margin-right: 50px;
height: 3px;
    display: block;
    /* unicode-bidi: isolate; */
    /* margin-block-start: 0.5em; */
    /* margin-block-end: 0.5em; */
    /* margin-inline-start: auto; */
    /* margin-inline-end: auto; */
    overflow: hidden;
    /* border-style: inset; */
    /* border-width: 1px; */
  }
  
  .achivementss{
    /* margin-left: 118px; */
    text-align: center;
  }
  .achivementss p{
    color: rgb(12, 8, 8);
  font-size: 1.4 rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300px;
  letter-spacing: 0.5rem;
  }
  #achivementbox-bg{
    background-image: linear-gradient(to right bottom, #895db1, #a560ae, #d16ba5,#bc65aa, #0083d0, #3976c9, #685ab1,#5469bf,#5ffbf1,#00dff1, #00c1ee, #00a3e3 );
    height: 1290px;
    display: block;
  }

  .achivementboxouter{
margin-top: 20px;
  }
.lang{
  padding-top: 68px;
  text-align: center;
}
.lang1{
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

  .achivementbox{
    border: 6px solid gold;
    width: 200px;
    height: 200px;
    margin-left: 100px;
    /* margin-top: 0px; */
  }
.achivementbox img{
  width: 188px;
  height: 188px;
}

  .d{
    padding-top: 50px;
    padding-left: 3px;
    font-size: 3rem;
  font-weight: 600;
  color: black;
  /* margin: 0px; */
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  }
  .e{
    padding-top: 25px;
    padding-left: 3px;
    font-size: 3rem;
  font-weight: 600;
  color: black;
  /* margin: 0px; */
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  }
 #instagramprofile-bg{
   display: block;
  background-image: linear-gradient(to right bottom,  #a560ae, #d16ba5, #0083d0, #3976c9, #5469bf,#5ffbf1,#00dff1, #00c1ee, #00a3e3 );
  height: 2815px;
 }
/* #instagramprofileimg{
  
  margin-top: 20px;
  height: 800px;
} */

  .instagramprofileimg img{
    width: 300px;
    height: auto;
    margin-left: 50px;
    margin-top: 30px;
    border: 4px solid black;
    border-radius: 15px;
  }
  .instagramprofileimg h1{
    text-decoration: none;
    padding-top: 40px;
    font-size: 3rem;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  }
  .instagramprofileimg p{
    
    color: rgb(12, 8, 8);
    font-size: 1.4rem;
    margin-top: 15px;
    text-align: center;
    line-height: 2.5rem;
    font-weight: 300px;
    letter-spacing: 0.5rem;
  }
   p.instagramprofileparagraph{
    color: rgb(12, 8, 8);
    font-size: 1.4rem;
    margin-top: 48px;
    text-align: center;
    line-height: 2.5rem;
    font-weight: 300px;
    letter-spacing: 0.5rem;
  }



  .instah11{

    padding-top: 50px;
    padding-left: 3px;
    font-size: 3rem;
    font-weight: 600;
    color: black;
    /* margin: 0px; */
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
  }

  /* .br {
    display: none;
  } */
    
    






#findmeongoogle{
  height: 0px;
}
.google{
  margin-top:-926px;
  margin-left: 0px;
  font-size: 3rem;
font-weight: 600;
color: white;
/* margin: 0px; */
text-transform: uppercase;
letter-spacing: 0.2rem;
text-align: center;
justify-content: center;
}



  #findmeongoogle img{
    width: 300px;
    height: auto;
    margin-left: 50px;
    margin-top: 43px;
    border: 4px solid black;
    border-radius: 15px;
  }




  /* Project Section */


#projects{
  background-color: white;
  height: 1660px;
}

.projectsbox{
  width: 300px;
  height: 300px;
  border: 4px solid gold;
  margin-left: 50px;
  margin-top: 50px;
}
.projectsbox img{
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}



/* End Project Section */









/* Start Contact Section  */
#contact{
  background-color: white;
  height: 1000px;
  display: block;
}

.contactbox{
  /* width: 300px; */
  width:80%;
  height: 200px;
  /* border: 4px solid gold; */
  margin-left: 50px;
  margin-top: 50px;
  padding :20px;
  text-align:center;
  padding:30px;
  margin:30px;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  box-shadow:22px 22px 22px #0000002c;
  transition:.5s ease box-shadow;
  background:lightyellow;
}
.contacth1{
  color: black;
}
.contact-icon{
  width:70px;
  margin:0 auto;
  margin-bottom: 10px;
}

.contact-info h1{
  font-size:2.5rem;
  font-weight:500;
  margin-bottom:5px;
  color: black;
  }
  .contact-info h2{
    font-size:1.2rem;
    line-height:2rem;
    font-weight:500;
    
  }
  /* End Contact Section  */





/* photo-150
left border-box=100
100 */



  /* Starts About section */

#about{
  height: 1435px;
  background-color: grey;
}

/* 


.aboutimg img{
  width: -webkit-fill-available;
  height: 338px;
  
} */

.aboutbox{
  width:223px;
  height: 400px;
  border: 6px solid gold;
  display: inline-block;
  position: absolute;
  margin-top: 32px;
  /* margin-left: 44px; */
  margin-left: 28px;
}

.aboutbox1{
  width:223px;
  height: 400px;
  border: 6px solid gold;
  display: inline-block;
  /* position: absolute; */
  position: inherit;
  /* margin-top: 54px; */
  margin-top: -355px;
    margin-left: 140px;
}

.aboutimg {
  width: 265px;
  height: 400px;
  border: 2px solid black;
  margin-left: 17%;
  margin-top: 70px;
  display: block;
  position: relative;
  /* margin-left: 55px; */
  
}
.aboutimg img{
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.aboutpara{
  color: rgb(12, 8, 8);
    font-size: 1.4rem;
    margin-top: 48px;
    text-align: center;
    line-height: 2.5rem;
    font-weight: 300px;
    letter-spacing: 0.5rem;
}
.abouth1{
  /* font-size: 2rem; */
  font-size: 2rem;
    text-align: center;
    margin-top: 38px;
    color: black;
}

/* Ends About section  */
















/* footer */
#footer{
  background-image: linear-gradient(60deg, #29323c, #485563 100%);
 }
 #footer .footer{
   min-height:200px;
   flex-direction: column;
   padding-top: 50px;
   padding-bottom: 10px;
 }
 #footer h2{
   color:white;
   font-weight:500;
   font-size:1.8rem;
   letter-spacing: .2rem;
   margin-top:10px;
   margin-bottom:10px ;
 }
 #footer .social-icon{
   display:flex;
   margin-bottom:30px;
 }
 #footer .social-item{
   height:50px;
   width:50px;
   margin:0 5px;
 }
 #footer .social-item img{
   filter:grayscale(2);
 }
 #footer .social-item:hover img{
   filter:grayscale(0);
   transition:.4s ease-out ;
   transition-duration: .4s;
   transform:translateY(-15px);
   
 }
 #footer p{
   color:white;
   font-size:1.3rem;
   margin-bottom:20px; 
 }
 /* end footer */















  
  
}
  



















































/* code for mobile only ends  */



/* code for whole  */
 span{
     color: crimson;
 }
 h1{
     color: white;
 }
