/* Media-Query For  Desktop  */
/* ///////////////////////////// */
body{
  width: 100%;
  /* background-color: grey; */
}
@media only screen and (max-width: 1440px) and (min-width: 821px) {
  body {
    /* width: -webkit-fill-available; */
    background-color: white;
    font-family: "Poppins", sans-serif;
    margin-left: 0px;
  }




  





  /* Css for Navigation Bar  */
  /* /////////////////////// */
  /* /////////////////////// */

#header{
height: 60px;
background-color: grey;
background-color: grey;
    font-family: "Poppins", sans-serif;
    position: fixed;
    width: -webkit-fill-available;
    display: block;
    height: 70px;
    top: 0px;

}


#middle li a{
  font-size: 100%;
  font-weight: 500;
  /* letter-spacing: .2rem; */
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;  
}
#middle{
  font-size: 1rem;
  float: right;
  position: absolute;
  left: 21%;
  top: 10%;
  display: flex;
  list-style: none;
  letter-spacing: 0.2rem;
  text-decoration: none;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: .5s ease left;
}
.menu-items {
  margin-left: 7%;
  margin-right: 0%;}
  
  
  .checkbox{
    display: none;
  }
  .logo {
    position: absolute;
    right: 75%;
    color: #0e2431;
  }
   /* HEADER ENDS  */







   /* INTRO SECTION  */

   /* #intro{
     /* margin-bottom: 0px; 
   } */
  .introimage{
    display: none;
  }
  .introimagefordesktop{
    width: -webkit-fill-available;
  }



  .a {
    color: white;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-style: italic;
    font-stretch: wider;
    margin-top: -33%;
    padding-left: 33%;
    font-weight: 900;
    padding-bottom: 1%;
    letter-spacing: 0.9rem;
    font-weight: 900;
    font-size: 3.5rem;
  }

  .b {
    color: white;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-style: italic;
    font-stretch: wider;
    margin-top: 0px;
    margin-left: 45%;
    font-size: 3.5rem;
    letter-spacing: 0.9rem;
    font-weight: 900;
  }

  .c {
    
    color: white;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-style: italic;
    font-stretch: wider;
    margin-top: 0px;
    padding-left: 68%;
    font-weight: 900;
    font-size: 3.5rem;
  }

  .a:hover {
    color: khaki;
  }

  .b:hover {
    color: yellow;
  }

  .c:hover {
    color: yellowgreen;
  }

/* Css for Services Starts */
        /* /////////////////////// */
        /* /////////////////////// */
      
        #achivements {
          background-image: linear-gradient(
            to right bottom,
            #d16ba5,
            #bc65aa,
            #a560ae,
            #895db1,
            #685ab1,
            #5469bf,
            #3976c9,
            #0083d0,
            #00a3e3,
            #00c1ee,
            #00dff1,
            #5ffbf1
          );
          display: block;
          height: 1300px;
          margin-top: -789px;
        }
      
        .achivements-name {
          width: 450px;
          position: block;
          padding-top: 315px;
          padding-left: 20px;
          font-size: 240px;
          font-size: larger;
          font-weight: bolder;
          font-stretch: expanded;
          font-style: italic;
          font-size: 3rem;
          letter-spacing: 11px;
          font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        }
        .achivements-name1 {
             /* width: 189px; */
             position: block;
             padding-top: 25px;
             padding-left: 260px;
             font-weight: bolder;
             font-stretch: expanded;
             font-style: italic;
             letter-spacing: 21px;
             font-size: 3rem;
          font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        }

        .d {
          padding-top: 50px;
          padding-left: 3px;
          font-size: 3rem;
          font-weight: 600;
          color: black;
          /* margin: 0px; */
          text-transform: uppercase;
          letter-spacing: 0.2rem;
          text-align: center;
        }
        .e {
          padding-top: 75px;
          padding-left: 3px;
          font-size: 3rem;
          font-weight: 600;
          color: black;
          /* margin: 0px; */
          text-transform: uppercase;
          letter-spacing: 0.2rem;
          text-align: center;
        }
      
        .achivementshr {
          margin-left: 50px;
          margin-right: 50px;
          height: 3px;
          display: block;
          /* unicode-bidi: isolate; */
          /* margin-block-start: 0.5em; */
          /* margin-block-end: 0.5em; */
          /* margin-inline-start: auto; */
          /* margin-inline-end: auto; */
          overflow: hidden;
          /* border-style: inset; */
          /* border-width: 1px; */
        }
      
        .achivementss {
          /* margin-left: 118px; */
          text-align: center;
          margin-top: 818px;
        }
        .achivementss p {
          font-size: 1.7rem;
          color: rgb(12, 8, 8);
          font-size: 1.4 rem;
          margin-top: 32px;
          margin-bottom: 39px;
          line-height: 2.5rem;
          font-weight: 300px;
          font-weight: 400;
          letter-spacing: 0.6rem;
        }
        /* Css for Services Ends */
        /* /////////////////////// */
        /* /////////////////////// */








        /* Css for Find Me On Google Starts */
        /* /////////////////////// */
        /* /////////////////////// */
        #findmeongoogle {
          height: auto;
          background-color: grey;
          margin-top: -51px;
        }

        
      
        #findmeongoogle img {
          width: -webkit-fill-available;
    height: auto;
    margin-left: 24%;
    margin-right: 24%;
    margin-top: 5%;
    margin-bottom: 4%;
    border-radius: 2.5%;
        }
        /* /////////////////////// */
        /* /////////////////////// */
        /* Css for Find Me On Google Starts */

#empty{
  width: -webkit-fill-available;
  height: 150px;
  /* display: none; */
  background-color: grey;
  margin-top: -16px;
}
#empty p{
     background-color: grey;
     color: grey;
}



        /* CSS Effect for Button  */
  /* ///////////////////////////// */
  /* ///////////////////////////// */

  .cta {
    display: inline-block;
    padding: 10px 15.2%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1rem;
    margin-top: 30px;
    margin: 0% 16.7%;
    width: -webkit-fill-available;
    transition: 0.5s ease;
  }
  .cta:hover {
    color: white;
    background-color: crimson;
  }

  /* ///////////////////////////// */
  /* ///////////////////////////// */
  /* CSS Effect for Button  */











  /* Css for Achivements Starts */
        /* /////////////////////// */
        /* /////////////////////// */
        #achivementbox-bg {
          background-image: linear-gradient(
            to right bottom,
            #895db1,
            #a560ae,
            #d16ba5,
            #bc65aa,
            #0083d0,
            #3976c9,
            #685ab1,
            #5469bf,
            #5ffbf1,
            #00dff1,
            #00c1ee,
            #00a3e3
          );
          height: 2630px;
          display: block;
          margin-top: -4%;
        }
      
        .achivementboxouter {
          margin-top: 20px;
        }
        .lang {
          padding-top: 78px;
          text-align: center;
        }
        .lang1 {
          padding-top: 15px;
          padding-bottom: 15px;
          text-align: center;
        }
      
        .achivementbox {
          border: 6px solid gold;
          width: 40%;
          height: 400px;
          height: 2;
          margin-left: 30%;
          margin-top: 5%;
          margin-bottom: 2%;
        }
        .achivementbox img {
          width: -webkit-fill-available;
          height: -webkit-fill-available;
        }
      
        
        
        /* /////////////////////// */
        /* /////////////////////// */
        /* Css for Achivements Ends */






        /* Css for Social-Media Starts */
        /* /////////////////////// */
        /* /////////////////////// */
        #projects1 {
          background-color: white;
          height: -webkit-fill-available;
        }
        .instagramh1{
          /* padding-top: 10px; */
          padding-top: 50px;
          padding-left: 3px;
          font-size: 3rem;
          font-weight: 600;
          color: black;
          /* margin: 0px; */
          text-transform: uppercase;
          letter-spacing: 0.2rem;
          text-align: center;
        }
        
        .projectsbox {
          width: 50%;
    height: 480px;
    border: 4px solid gold;
    margin-left: 25%;
    margin-top: 12%;
        }
        .projectsbox img {
          width: -webkit-fill-available;
          height: -webkit-fill-available;
        }
        
        /* /////////////////////// */
        /* /////////////////////// */
        /* End Project Section */
        /* Css for Project Ends */









        /* Css for Social-Media Starts */
        /* /////////////////////// */
        /* /////////////////////// */

        #instagramprofile-bg {
          display: block;
          height: -webkit-fill-available;
          background-image: linear-gradient(
            to right bottom,
            #a560ae,
            #d16ba5,
            #0083d0,
            #3976c9,
            #5469bf,
            #5ffbf1,
            #00dff1,
            #00c1ee,
            #00a3e3
          );
        }
        /* 
        #instagramprofileimg {
          margin-top: 20px;
        height: 800px;
      }
      */
      .instah11{
      /* padding-top: 40px; */
      padding-bottom: 40px;
      padding-top: 150px;
      padding-left: 3px;
      font-size: 3.5rem;
      font-weight: 600;
      color: black;
      /* margin: 0px; */
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      text-align: center;
      }
      
        .instagramprofileimg img {
          width: 60%;
          height: auto;
          margin-left: 20%;
          margin-top: 35px;
          margin-bottom: 35px;
          border: 4px solid black;
          border-radius: 15px;
        }
      
        .instagramprofileimg h1 {
          text-decoration: none;
          padding-top: 40px;
          font-size: 3rem;
          font-weight: 600;
          color: black;
          text-transform: uppercase;
          letter-spacing: 0.2rem;
          text-align: center;
        }
        .instagramprofileimg p {
          color: rgb(12, 8, 8);
          font-size: 1.4rem;
          margin-top: 15px;
          text-align: center;
          line-height: 2.5rem;
          font-weight: 300px;
          letter-spacing: 0.5rem;
        }
        p.instagramprofileparagraph {
          color: rgb(12, 8, 8);
          font-size: 1.4rem;
          margin-top: 48px;
          text-align: center;
          line-height: 2.5rem;
          font-weight: 300px;
          letter-spacing: 0.5rem;
        }


       
      
        /* /////////////////////// */
        /* /////////////////////// */
        /* Css for Social-Media Ends */




        /* Css for About Starts */
        /* Starts About section */
        /* /////////////////////// */
        /* /////////////////////// */
      
        #about {
          height: 1710px;
          background-color: grey;
          margin-top: -38px;
        }
      
        /* 
      
      
      .aboutimg img{
        width: -webkit-fill-available;
        height: 338px;
        
      } */
      
        .aboutbox {
          width: 25%;
    height: 50%;
    border: 6px solid gold;
    display: inline-block;
    position: absolute;
    margin-top: 11%;
    /* margin-left: 44px; */
    margin-left: 25%;
        }
      
        .aboutbox1 {
          width: 25%;
    height: 27%;
    border: 6px solid gold;
    display: inline-block;
    /* position: absolute; */
    position: inherit;
    /* margin-top: 54px; */
    margin-top: -25%;
    margin-left: 48%;
        }
      
        .aboutimg {
          width: 30%;
    height: 30%;
    border: 2px solid black;
    margin-left: 105%;
    margin-top: 20%;
    display: block;
    position: relative;
    margin-left: 35%;
        }
        .aboutimg img {
          width: -webkit-fill-available;
          height: -webkit-fill-available;
        }
      
        .aboutpara {
          color: rgb(12, 8, 8);
          font-size: 1.4rem;
          margin-top: 48px;
          text-align: center;
          line-height: 2.5rem;
          font-weight: 300px;
          letter-spacing: 0.5rem;
        }
        .abouth1 {
          /* font-size: 2rem; */
          font-size: 3rem;
          text-align: center;
          margin-top: 100px;
          color: black;
        }
      
        /* /////////////////////// */
        /* /////////////////////// */
        /* Ends About section  */
        /* Css for About Ends */
      



        /* Css for Contact Starts */
        /* /////////////////////// */
        /* /////////////////////// */
        /* Start Contact Section  */
        #contact {
          background-color: white;
          /* height: 1575px; */
          height: -webkit-fill-available;
          display: block;
        }
      
        .contactbox {
          /* width: 300px; */
          width: 80%;
          height: 200px;
          /* border: 4px solid gold; */
          margin-left: 50px;
          margin-top: 50px;
          padding: 20px;
          text-align: center;
          padding: 30px;
          margin: 10%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          box-shadow: 22px 22px 22px #0000002c;
          transition: 0.5s ease box-shadow;
          background: lightyellow;
        }
        .contacth1 {
          color: black;
        }
        .contact-icon {
          width: 70px;
          margin: 0 auto;
          margin-bottom: 10px;
        }
      
        .contact-info h1 {
          font-size: 2.5rem;
          font-weight: 500;
          margin-bottom: 5px;
          color: black;
        }
        .contact-info h2 {
          font-size: 1.2rem;
          line-height: 2rem;
          font-weight: 500;
        }
      
        /* /////////////////////// */
        /* /////////////////////// */
        /* Css for Contact Ends */
        /* End Contact Section  */


        
        /* Css for Footer Starts */
        /* footer */
        /* /////////////////////// */
        /* /////////////////////// */
        #footer {
          background-image: linear-gradient(60deg, #29323c, #485563 100%);
        }
        #footer h1{
          margin-top: -45px;
        }
        #footer .footer {
          min-height: 200px;
          flex-direction: column;
          padding-top: 50px;
          padding-bottom: 10px;
        }
        #footer h2 {
          color: white;
          font-weight: 500;
          font-size: 1.8rem;
          text-align: center;
          letter-spacing: 0.2rem;
          margin-top: 10px;
          margin-bottom: 10px;
        }
        #footer .social-icon {
          display: flex;
          margin-bottom: 30px;
          justify-content: center;
        }
        #footer .social-item {
          height: 50px;
          width: 50px;
          margin: 0 5px;
        }
        #footer .social-item img {
          filter: grayscale(2);
        }
        #footer .social-item:hover img {
          filter: grayscale(0);
          transition: 0.4s ease-out;
          transition-duration: 0.4s;
          transform: translateY(-15px);
        }
        #footer p {
          color: white;
          font-size: 1.3rem;
          margin-bottom: 100px;
          text-align: center;
          letter-spacing: 0.2rem;
        }
      
      
        /* /////////////////////// */
        /* /////////////////////// */
        /* end footer */
        /* Css for Footer Starts */
        







  #imadeit{
    display: none;
  }
  
  
  
  /* #achivementbox-bg{
  width: -webkit-fill-available; */
}








/* code for whole starts */
/* /////////////////////// */
/* /////////////////////// */
span {
  color: crimson;
}
h1 {
  color: white;
}

/* code for whole ends */
/* /////////////////////// */
/* /////////////////////// */

/* @media only screen and (max-width: 1024px) {

} */